h1{
  text-align: center;
  font-size: 50px;
  color: red;
  background-color: rgb(127, 236, 255)
}

h3{
  text-align: center;
  font-size: 40px
}

img{
  height: 500px;
  margin: 0 0 0 700px;
}

.github{
  display: block;
  text-align: center;
  font-size: 20px;
}

.linkedin{
  display: block;
  text-align: center;
  font-size: 20px;
}

.resume{
  display: block;
  text-align: center;
  font-size: 20px
}